# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.cproject
*.project
Makefile
src/Makefile
canMsgApi/Makefile
configure
config.h
config.log
autom4te.cache/
stamp-h1
canMsgApi/.deps/
src/.deps/
src/vhdd
